
      .A {
        font-size: 60px;
        margin-bottom: 20px;
        margin-left: 70px;
        font-family: Montserrat;
      }
      .B {
        font-size: 30px;
        margin-top: 0px;
      }
      .C {
        font-size: 30px;
        text-decoration: underline;
      }
   